<div class="nested-fields">
  <%= f.label :no_baking %> <br>
  <%= f.check_box :no_baking %>
  <br>

  <%= f.label :baking_type %> <br>
  <%= f.text_field :baking_type %>
  <br>

  <%= f.label :heat %> <br>
  <%= f.number_field :heat %>
  <br>

  <%= f.label :unit %> <br>
  <%= f.text_field :unit %>
  <br>

  <%= f.label :duration %> <br>
  <%= f.number_field :duration %>
  <br>

  <%= f.label :baking_notes %> <br>
  <%= f.text_area :baking_notes %>
  <br>

  <br>
</div>
