<%= form_for @recipe do |f| %>

  <h4>Name</h4>
  <%= f.label :recipe_name %> <br>
  <%= f.text_field :recipe_name %>
  <br>

  <hr>
  <h4>Ingredients</h4>
  <div id="ingredients">
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', :f => ingredient %>
    <% end %>
    <%= link_to_add_association 'add ingredient', f, :ingredients %>
  </div>

    <hr>
    <h4>Steps</h4>
    <div id="steps">
      <%= f.fields_for :steps do |step| %>
        <%= render 'step_fields', :f => step %>
      <% end %>
      <%= link_to_add_association 'add step', f, :steps %>
    </div>

    <hr>
    <h4>Baking</h4>
    <%= f.fields_for :baking do |ff| %>
      <%= ff.label :no_baking %> <br>
      <%= ff.check_box :no_baking %>
      <br>

      <%= ff.label :baking_type %> <br>
      <%= ff.select(:baking_type, Baking::BAKIING_TYPE_LIST) %>
      <br>

      <%= ff.label :heat %> <br>
      <%= ff.number_field :heat %>
      <br>

      <%= ff.label :unit %> <br>
      <%= ff.select(:unit, Baking::HEAT_UNIT_LIST) %>
      <br>

      <%= ff.label :duration %> <br>
      <%= ff.number_field :duration %>
      <br>

      <%= ff.label :baking_notes %> <br>
      <%= ff.text_area :baking_notes %>
      <br>
    <% end %>

  <hr>
  <h4>Notes</h4>
  <%= f.label :recipe_notes %> <br>
  <%= f.text_area :recipe_notes %>
  <br>

  <%= f.submit 'Share Recipe' %>

<% end %>
