<%= form_for @recipe do |f| %>

  <h4>Name</h4>
  <%= f.label :recipe_name %> <br>
  <%= f.text_field :recipe_name %>
  <br>

  <hr>
  <h4>Ingredients</h4>
  <div id="ingredients">
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', :f => ingredient %>
    <% end %>
    <%= link_to_add_association 'add ingredient', f, :ingredients %>
  </div>

    <hr>
    <h4>Steps</h4>
    <div id="steps">
      <%= f.fields_for :steps do |step| %>
        <%= render 'step_fields', :f => step %>
      <% end %>
      <%= link_to_add_association 'add step', f, :steps %>
    </div>

    <hr>
    <h4>Bakings</h4>
    <div id="bakings">
      <%= f.fields_for :bakings do |baking| %>
        <%= render 'baking_fields', :f => baking %>
      <% end %>
      <%= link_to_add_association 'add baking', f, :bakings %>
    </div>

  <hr>
  <h4>Notes</h4>
  <%= f.label :recipe_notes %> <br>
  <%= f.text_area :recipe_notes %>
  <br>

  <%= f.submit 'Share Recipe' %>

<% end %>
