<div class="nested-fields">
    <%= f.label :step_description %> <br>
    <%= f.text_area :step_description %>
    <br>

    <%= f.label :step_notes %> <br>
    <%= f.text_area :step_notes %>
    <br>

  <%= link_to_remove_association "remove step", f %>
  <br>
</div>
