<h1><%= @recipe.recipe_name %></h1>

<h4>Ingredient list</h4>
<% @recipe.ingredients.each do |ingredient| %>
  <ul>
    <li>
      <strong><%= ingredient.ingredient_name %></strong> <%= ingredient.quantity %> <%= ingredient.measuring %>
      <br><% if ingredient.optional == true %><em>This ingredient is optional</em><% end %>
    </li>
  </ul>
<% end %>

<h4>Steps</h4>
<% @recipe.steps.each do |step| %>
  <p><%= step.step_description %></p>
  <% if step.step_notes? %>
    <small><%= step.step_notes %></small>
  <% end %>
<% end %>

<h4>Baking</h4>
<% if baking = @recipe.baking %>
  <% if baking.no_baking == true %>
    <p>There is no baking for this recipe</p>
  <% else %>
    <ul>
      <li>Baking type: <%= baking.baking_type %></li>
      <li>Baking heat: <%= baking.heat %><%= @recipe.baking.unit %></li>
      <li>Cooking Time: <%= baking.duration %> minutes</li>
    </ul>
    <% if baking.baking_notes? %>
      <p><%= baking.baking_notes %></p>
    <% end %>
  <% end %>
<% end %>

<p><%= @recipe.recipe_notes %></p>

<%= render 'crud-links' %>
